DEBUG=True
PORT=8005

SECRET_KEY=django-insecure-5j*q^67qh-m(8^2pzv%yd=u&d$0u8e#2z%&l_p)4uka6msx1&9

DB_USER=baza_user
DB_PASS=example_pass
DB_HOST=movie_vault_host
DB_PORT=5433
DB_NAME=movie_vault_db
# Optionally you can overwrite db creds by providing DATABASE_URL db connection link
# DATABASE_URL=postgres://user:pass@postgres_db:5433/dbname # optionally
