body {
    background-color: lightgray;
}

ul.messagelist {
    position:absolute;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    z-index: 1;
    opacity: 0.8;
    margin: 20px;
}

ul.messagelist li {
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(146, 141, 141, 0.8);
}

ul.errorlist li{
    background: rgb(146, 141, 141);
}
