{% extends 'base_with_navigator.html' %}
{% load static %}
{% load custom_tags %}

{% block title_head %}
    Directors list
{% endblock%}

{% block additional_tags_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% endblock %}

{% block content_body %}
    {{ block.super }}
    
    <div class='table-wrapper'>
        <p class='action-links-container'>
            {% if request.user.is_superuser %}
                <span class='action-link'><a href={% url 'actor_add' %}>Add new director</a></span>
            {% endif%}
        </p>
        {% include 'components/filter_picker.html' %}
        {% if not directors %}
            <span> No any director added </span>
        {% endif %}
        
        {% if directors %}
            <ul>
                {% for director in directors%}
                <li><a href={% url 'director_edit' director.id %}>{{director.name}} {{director.surname}}</a></li>
                {% endfor %}
            </ul>
            {% include "components/paginator.html" %}
            <div class="spacer">&nbsp;</div>
            </div>
        {% endif %}
    </div>
{% endblock%}

